NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

ADMIN_COOKIE_SECRET=

ADMIN_SUPER_USERNAME=
ADMIN_SUPER_PASSWORD=

ADMIN_STAFF_1_USERNAME=
ADMIN_STAFF_1_PASSWORD=

ADMIN_STAFF_2_USERNAME=
ADMIN_STAFF_2_PASSWORD=
